.Form {
  text-align: center;
  background: #434c69;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.round {
  width: 100%;
  background: orange;
  color: white;
  border: 0;
  /* outline: none; */
  padding: 15px 0px;
  font-weight: 600;
  font-size: 2rem;
  transition: all .1s ease;
  -webkit-appearance: none;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: .03em;

}

.App-link {
  color: #61dafb;
}

.heading {
  color: white;
}

.input {
  width: 96%;
  height: 50px;
  background: none;
  color: white;
  display: block;
  font-size: 22px;
  padding: 5px 10px;

}

.time-input {
  width: 290px;
  height: 50px;
  background: none;
  color: white;
  font-size: 22px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  
}

.time-select { 
  width: 277px;
  height: 64.3px;
  font-size: 22px;
  margin-left: 5px;
  background: orange;
  color: white;
}

.time-block {
  flex-direction: row;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; 
}
body{
  background: #c1bdba;
}

.work-type {
  width: 100%;
  height: 64.3px;
  font-size: 22px;
  
  background: orange;
  color: white;
  margin-bottom: 10px;

}



@media only screen and (max-width: 681px) {
  .time-block {
    width: 100%;
    display: block;
  }
  .time-select {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .time-input {
    width: 100%;
    padding: 0;
    padding-left: 10px;
  }
  .input {
    padding: 0;
    width: 100%;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


